.item {
  display: inline-block;
  border: 1px solid black;
  padding: 15px;
  width: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(250, 227, 137);;
}

img {
  width: 100px;
  height: 100px;
}

strong {
  font-size: 20px;
}
