<div class="container">
  <div class="orderDiv">
    <h3>Order Details</h3>
    <div *ngIf="total < 1">
      <p>Order is empty! Please add some items!</p>
    </div>
    <app-order-details
      *ngFor="let item of itemsArray; let i = index"
      [isClickedItem]="item.isClicked"
      [orderItemName]="item.name"
      [orderItemQuantity]="item.quantity"
      [orderItemPrice]="item.totalPrice"
      (deletedItem)="deleteOrderedItem(i)">
    </app-order-details>
    <div
      *ngIf="total > 0"
      style="text-align: right">
      <hr/>
      <p >
        <strong>Total price: {{ total }} KGS</strong>
      </p>
    </div>
  </div>
  <div class="itemsDiv">
    <h3>Add items</h3>
    <div class="itemsInner">
      <app-items
        *ngFor="let item of itemsArray; let i = index"
        [image]="item.image"
        [imageName]="item.name"
        [name]="item.name"
        [price]="item.price"
        (clickedItem)="getClickedItem(i)">
      </app-items>
    </div>
  </div>
</div>
