.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

h3 {
  text-decoration: overline;
  text-align: center;
  text-transform: uppercase;
}

.orderDiv,
.itemsDiv {
  border: 1px solid grey;
  padding: 10px;
  background-color: rgb(240, 232, 201);
}

.orderDiv {
  width: 350px;
}

.itemsDiv {
  width: 700px;
}

.itemsInner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

