<p *ngIf="isClickedItem">
  <span style="font-weight: bold; width: 80px">
    {{ orderItemName }}
  </span>
  <span>x{{ orderItemQuantity }}</span>
  <span>{{ orderItemPrice }} KGS</span>
<button
  type="button"
  (click)="deleteItem()"
>
  Delete
</button>
</p>
